{% if posts.has_previous or posts.has_next %}
    <div class="col-12">
        <!-- pagination -->
        <nav class="text-center mt-5">
            <ul class="pagination justify-content-center border border-white rounded d-inline-flex">

                {% if posts.has_previous %}
                    <li class="page-item">
                        {% if query %}
                            <a class="page-link rounded w-auto px-4"
                               href="{{ request.path }}?page={{ posts.previous_page_number }}&query={{ query }}"
                               aria-label="Pagination Arrow">Prev</a>
                        {% else %}
                            <a class="page-link rounded w-auto px-4"
                               href="{{ request.path }}?page={{ posts.previous_page_number }}"
                               aria-label="Pagination Arrow">Prev</a>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link rounded w-auto px-4" href=""
                                                      aria-label="Pagination Arrow">Prev</a></li>
                {% endif %}


                {% for page_number in posts.paginator.page_range %}
                    {% if page_number == posts.number %}
                        <li class="page-item active disabled">
                            <a href="" class="page-link rounded">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            {% if query %}
                                <a href="{{ request.path }}?page={{ page_number }}&query={{ query }}"
                                   class="page-link rounded">{{ page_number }}</a>
                            {% else %}
                                <a href="{{ request.path }}?page={{ page_number }}"
                                   class="page-link rounded">{{ page_number }}</a>
                            {% endif %}
                        </li>
                    {% endif %}

                {% endfor %}




                {% if posts.has_next %}
                    <li class="page-item">
                        {% if query %}
                            <a class="page-link rounded w-auto px-4"
                               href="{{ request.path }}?page={{ posts.next_page_number }}&query={{ query }}"
                               aria-label="Pagination Arrow">Next</a>
                        {% else %}
                            <a class="page-link rounded w-auto px-4"
                               href="{{ request.path }}?page={{ posts.next_page_number }}"
                               aria-label="Pagination Arrow">Next</a>
                        {% endif %}

                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link rounded w-auto px-4" href="#" aria-label="Pagination Arrow">
                            Next
                        </a>
                    </li>
                {% endif %}


            </ul>
        </nav>

    </div>

{% endif %}
