{% if posts.has_previous or posts.has_next %}
    <div class="col-12">
        <!-- pagination -->
        <nav class="text-center mt-5">
            <ul class="pagination justify-content-center border border-white rounded d-inline-flex">

                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link rounded w-auto px-4"
                                             href="{% url 'blog' %}?page={{ posts.previous_page_number }}"
                                             aria-label="Pagination Arrow">Prev</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link rounded w-auto px-4" href=""
                                                      aria-label="Pagination Arrow">Prev</a></li>
                {% endif %}


                {% for page_number in posts.paginator.page_range %}
                    {% if page_number == posts.number %}
                        <li class="page-item active disabled">
                            <a href="" class="page-link rounded">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="{% url 'blog' %}?page={{ page_number }}"
                               class="page-link rounded">{{ page_number }}</a>
                        </li>
                    {% endif %}

                {% endfor %}


                {#                <li class="page-item mt-2 mx-2">...</li>#}
                {#                <li class="page-item"><a class="page-link rounded" href="blog.html"#}
                {#                                         aria-label="Pagination Arrow">16</a></li>#}

                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link rounded w-auto px-4"
                                             href="{% url 'blog' %}?page={{ posts.next_page_number }}"
                                             aria-label="Pagination Arrow">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link rounded w-auto px-4" href="#"
                                                      aria-label="Pagination Arrow">Next</a></li>
                {% endif %}


            </ul>
        </nav>

    </div>

{% endif %}
