{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    404 Not Found
{% endblock %}
{% block meta %}404 Not Found{% endblock %}
{% block seotags %}
    <!-- OG tags -->
    <meta property="og:title" content="404 Not Found | RM Blog">
    <meta name="description" property="og:description" content="A blog about Programming and technology.">
    <!-- The common types are website, article, blog, company, and image -->
    <meta property="og:type" content="blog">
    <meta property="og:image" content="{% static 'assets/images/blog/rm-blog.jpg' %}">
    <meta property="og:image:alt" content="RM Blog | A blog about Programming and technology.">
    <meta property="og:url" content="RM Blog | A blog about Programming and technology.">
    <!-- The Twitter card meta tag determines the type of card Twitter uses to display your link. The value can either be "summary", "summary_large_image", "app", or "player" -->

    <!-- END OG tags -->
    <!-- END Twitter tags -->
        <meta name="twitter:card" content="summary_large_image">
{#        <meta name="twitter:site" content="@publisher_handle">#}
{#        <meta name="twitter:creator" content="@author_handle">#}
        <meta name="twitter:title" content="404 Not Found | RM Blog">
        <meta name="twitter:description" content="RM Blog | A blog about Programming and technology.">
        <meta name="twitter:image" content="{% static 'assets/images/blog/rm-blog.jpg' %}">
        <meta name="twitter:image:alt" content="RM Blog | A blog about Programming and technology.">
    <!-- END Twitter tags -->
{% endblock %}

{% block content %}


    <section class="section-sm pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="page-not-found-title">404</h1>
                        <p class="mb-4">Oops. The page you're looking for doesn't exist.</p>
                        <a href="{% url 'homepage' %}" class="btn btn-primary">Back to home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}