{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | RM Blog</title>
    <meta name="description" content="{% block meta %}{% endblock %}">
    <meta name="author" content="Rafael Marques @rafamarquesrmb"/>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">



    {% block seotags %}
    {% endblock %}
    <!-- CSS Plugins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&family=Work+Sans:wght@500;600&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/tabler-icons/tabler-icons.min.css' %}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">

    {% block headercss %}
    {% endblock %}
</head>
<body>

<!-- Header -->
{% include 'partials/header_partial.html' %}

<!-- START Content -->
{% block content %}
{% endblock %}


<!-- Footer-->
{% include 'partials/footer_partial.html' %}

    <!-- JS Plugins -->
    <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/lightense/lightense.min.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    <!-- Main Script -->
    <script src="{% static 'assets/js/script.js' %}"></script>


</body>
</html>