{% extends 'core/base.html' %}
{% load static %}
{% block title %}
    Contact
{% endblock %}
{% block meta %}Contact Page{% endblock %}
{% block seotags %}
    <!-- OG tags -->
    <meta property="og:title" content="Contact | RM Blog">
    <meta name="description" property="og:description" content="A blog about Programming and technology.">
    <!-- The common types are website, article, blog, company, and image -->
    <meta property="og:type" content="blog">
    <meta property="og:image" content="{% static 'assets/images/blog/rm-blog.jpg' %}">
    <meta property="og:image:alt" content="RM Blog | A blog about Programming and technology.">
    <meta property="og:url" content="RM Blog | A blog about Programming and technology.">
    <!-- The Twitter card meta tag determines the type of card Twitter uses to display your link. The value can either be "summary", "summary_large_image", "app", or "player" -->

    <!-- END OG tags -->
    <!-- END Twitter tags -->
        <meta name="twitter:card" content="summary_large_image">
{#        <meta name="twitter:site" content="@publisher_handle">#}
{#        <meta name="twitter:creator" content="@author_handle">#}
        <meta name="twitter:title" content="Contact | RM Blog">
        <meta name="twitter:description" content="RM Blog | A blog about Programming and technology.">
        <meta name="twitter:image" content="{% static 'assets/images/blog/rm-blog.jpg' %}">
        <meta name="twitter:image:alt" content="RM Blog | A blog about Programming and technology.">
    <!-- END Twitter tags -->
{% endblock %}
{% block content %}

    {% include 'partials/page_header_partial.html' with page_title='Contact' %}
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <section>
                <div class="container">
                    <div class="row gy-5 justify-content-center">

                        <div class="col-lg-5 col-md-10 ms-lg-auto me-lg-0 me-auto">
                            <div class="mb-5">
                                <h2 class="h3 mb-3">Contact Qurno</h2>
                                <p class="mb-0">I&rsquo;m here to help and answer any question you might have. I look
                                    forward to
                                    hearing from you</p>
                            </div>
                            <div>
                                <h2 class="h4 mb-3">Hate forms? <br> Write an email or make a call</h2>
                                <p class="mb-2 content">
                                    <i class="ti ti-mail-forward me-2 d-inline-block mb-0"
                                       style="transform:translateY(2px)"></i> <a
                                        href="mailto:contact@qurno.com">contact@qurno.com</a>
                                </p>
                                <p class="mb-0 content"><i class="ti ti-phone me-2"></i> +98 02 296 4902</p>
                            </div>
                        </div>

                        <div class="col-lg-5 me-lg-auto ms-lg-0 ms-auto">
                            <h2 class="h3 mb-4">Contact form</h2>

                            <form id="contactForm" method="post" class="row g-4">
                                {% csrf_token %}
                                <div class="col-md-12">
                            <textarea class="form-control" id="message" placeholder="Ask question or just say Hi *"
                                      rows="4"
                                      name="message" required></textarea>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" placeholder="Your name here*" id="name"
                                           name="name" required>
                                </div>
                                <div class="col-md-12">
                                    <input type="email" class="form-control" placeholder="Email address*" id="email"
                                           name="email" required>
                                </div>
                                <div class="col-md-12">
                                    <input name="phone" class="form-control" id="phone" type="tel"
                                           placeholder="Your phone here">
                                </div>
                                <div class="col-12">
                                    <button type="submit" id="submitButton" class="btn btn-primary"
                                            aria-label="Send Message">Send <i
                                            class="ti ti-brand-telegram ms-1"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>




{% endblock %}